.form {
  background: #ffffff;
  border-radius: 5px;
  width: 600px;
  // max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  .message {
    // margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
    a {
      color: #4caf50;
      text-decoration: none;
    }

    &.error {
      color: #e42222;
    }
  }

  .input-group {
    display: flex;
    align-items: center;
    height: 60px;

    input {
      font-family: 'Roboto', sans-serif;
      outline: 0;
      background: #f2f2f2;
      width: 100%;
      border: 0;
      // margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
      border-radius: 40px;
    }

    button {
      width: 60px;
      font-family: 'Roboto', sans-serif;
      text-transform: uppercase;
      outline: 0;
      // background: #4caf50;
      background-color: #74b9cf;
      border-radius: 0 40px 40px 0;
      border: 0;
      padding: 12px;
      color: #ffffff;
      font-size: 14px;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      cursor: pointer;

      &:hover,
      &:active,
      .form &:focus {
        // background: #43a047;
        background-color: #5592ca;
      }

      &:disabled {
        background-color: rgb(71, 71, 71);
      }

      &:active {
        background-color: #3c56c9;
      }
    }
  }

  .submit-group {
    padding: 20px;
    // button {
    //   width: 150px;
    //   border-radius: 40px;
    //   background-color: #74b9cf;
    //   border: 0;
    //     padding: 20px;
    //     color: #ffffff;
    //     font-size: 16px;
    //     -webkit-transition: all 0.3 ease;
    //     transition: all 0.3 ease;
    //     cursor: pointer;
    //     &:hover,
    //     &:active,
    //     &:focus {
    //       // background: #43a047;
    //       background-color: #5592ca;
    //     }

    //     &:disabled {
    //       &, &:focus, &:active {
    //         background-color: rgb(197, 196, 196);
    //       }
    //     }

    //     &:active {
    //       background-color: #3c56c9;
    //     }
    // }
  }


}

.button-hold {
  --duration: 1200ms;
  --color: #F6F8FF;
  --background: #2B3044;
  --icon: var(--color);
  --progress-border: #646B8C;
  --progress-active: #fff;
  --progress-success: #5C86FF;
  --tick-stroke: var(--progress-active);
  --shadow: #{rgba(#00093D, .2)};
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  min-width: 112px;
  padding: 12px 20px 12px 12px;
  border: 0;
  border-radius: 24px;
  outline: none;
  user-select: none;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -webkit-appearance: none;
  transition: transform .3s, box-shadow .3s;
  box-shadow: 0 var(--shadow-y, 4px) var(--shadow-blur, 12px) var(--shadow);
  transform: scale(var(--scale, 1)) translateZ(0);
  color: var(--color);
  background: var(--background);
  & > div {
      margin-right: 4px;
      border-radius: 50%;
      display: inline-block;
      vertical-align: top;
      position: relative;
      background: var(--progress-border);
      &:before {
          content: '';
          width: 16px;
          height: 16px;
          left: 2px;
          top: 2px;
          z-index: 1;
          position: absolute;
          background: var(--background);
          border-radius: inherit;
          transform: scale(var(--background-scale, 1));
          transition: transform .32s ease;
      }
      svg {
          display: block;
          &.icon,
          &.tick {
              position: absolute;
          }
          &.icon {
              width: 8px;
              height: 8px;
              left: 6px;
              top: 6px;
              fill: var(--icon);
              z-index: 1;
              transition: opacity .2s, transform .2s;
              opacity: var(--icon-opacity, 1);
              transform: translateY(var(--icon-y, 0)) scale(var(--icon-scale, 1));
          }
          &.progress,
          &.tick {
              fill: none;
          }
          &.progress {
              width: 20px;
              height: 20px;
              transform: rotate(-90deg) scale(var(--progress-scale, 1));
              transition: transform .5s ease;
              circle {
                  stroke-dashoffset: 1;
                  stroke-dasharray: var(--progress-array, 0) 52;
                  stroke-width: 16;
                  stroke: var(--progress-active);
                  transition: stroke-dasharray var(--duration) linear;
              }
          }
          &.tick {
              width: 20px;
              height: 20px;
              left: 0;
              top: 0;
              stroke-width: 3;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke: var(--tick-stroke);
              transition: stroke .3s ease .7s;
              polyline {
                  stroke-dasharray: 18 18 18;
                  stroke-dashoffset: var(--tick-offset, 18);
                  transition: stroke-dashoffset .4s ease .7s;
              }
          }
      }
  }
  &:focus,
  &:hover {
      &:not(.process) {
          --shadow-y: 8px;
          --shadow-blur: 16px;
      }
  }
  &:active {
      &:not(.success) {
          --scale: .96;
          --shadow-y: 4px;
          --shadow-blur: 8px;
      }
  }
  &.process,
  &.success {
      --progress-array: 52;
      --icon-y: -4px;
      --icon-scale: .6;
      --icon-opacity: 0;
  }
  &.success {
      --progress-border: none;
      --progress-scale: 0;
      --tick-stroke: var(--progress-success);
      --background-scale: 0;
      --tick-offset: 36;
      & > div {
          svg {
              &.progress {
                  animation: tick .3s linear forwards .4s;
              }
          }
      }
  }
}
