<div class="main">
  <div class="container">

    <p-scroller
      [lazy]="true"
      (onLazyLoad)="onLazyLoad($event)"
      [items]="test"
      [itemSize]="100"
      scrollHeight="calc(80vh - 40px)"
      [style]="{ width: '100%', height: '100%' }"
    >
      <ng-template pTemplate="item" let-url let-options="options">
        <div class="url" style="height: 100px; width: 510px;">
          <div class="icon h-full">
            <img [src]="url.icon" />
          </div>
          <div class="info">
            <h3 class="single-ellipsis m-0">{{ url.title }}</h3>
            <p class="single-ellipsis m-0">{{ url.description }}</p>
          </div>
          @if (url.image) {
            <img [src]="url.image" height="100px"/>
          }
        </div>
      </ng-template>
    </p-scroller>
    <!-- @for (url of myUrls(); track $index) {
      <div class="url">
        <div class="icon h-full">
          <img [src]="url.icon" width="32" height="32"/>
        </div>
        <div class="info">
          <h3 class="single-ellipsis m-0">{{ url.title }}</h3>
          <p class="single-ellipsis m-0">{{ url.description }}</p>
        </div>
      </div>
    } -->
  </div>
</div>
